# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ===== Virtual env =====
.venv/
venv/
env/

# ===== PyCharm =====
.idea/
*.iml

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db
